$--color-primary: #5d9dff;
$--font-path: '../../../node_modules/element-ui/lib/theme-chalk/fonts';
@import "../../../node_modules/element-ui/packages/theme-chalk/src/index";

// 表格用样式
.common-table.el-table{
  .success-row{
    background-color:#f3f7ff;
  }
  .el-button--text{
    padding: 0;
    margin: 0 5px;
  }
  .line{
    padding: 0 5px;
  }
  .common-table-header{
    background-color: #f1f9fe;
    font-size: 14px;
    color: #333;
    text-align: center;
    th{
      background-color: #f1f9fe;
    }
    .cell{
      text-align: center;
    }
  }
  .el-table__row .cell{
    color: #666;
    font-size: 14px;
  }
}

// 分页器格式化
.common-pagination.el-pagination{
  text-align: center;
  padding-top: 30px;
  text-align: right;
  .el-pagination__sizes, .el-pagination__total{
    float: left;
    margin-left: 0;
  }
  .el-pager{
    .number, .btn-quickprev, .btn-quicknext{
      margin-top: 2px;
      min-width: 24px;
      height: 24px;
      line-height: 24px;
      border: 1px solid #e3e6e6;
      color: #666;
      background-color: #fff;
      &.active{
        background: #f1f9fe;
        color: #666;
      }
    }
  }
  .btn-prev{
    margin-top: 2px;
    padding: 0;
    min-width: 24px;
    height: 24px;
    border: 1px solid #e3e6e6;
    background-color: #fff;
  }
  .btn-next{
    margin-top: 2px;
    padding: 0;
    min-width: 24px;
    height: 24px;
    border: 1px solid #e3e6e6;
    background-color: #fff;
  }
  .el-pagination__sizes{
    .el-input__inner{
      width: 90px;
      height: 24px;
    }
  }
}

// 登录页面表单格式化
.loginForm.el-form.el-form--label-top, .registerForm.el-form.el-form--label-top {
	.el-form-item.el-form-item--mini {
		margin-bottom:12px;
		.el-form-item__label {
			padding:0px;
			font-size:14px;
			color:#fff;
			line-height:14px;
			&::before {
				display:none;
			}
		}
		.el-form-item__content {
			width:180px;
			height:20px;
			line-height:20px;	
			.el-input.el-input--mini {
				position: relative;
				width:100%;
				height:20px;
				line-height:20px;	
				input {
					height:20px;
					line-height:20px;	
					border-radius:10px;
				}
			}
			.el-form-item__error {
				position: absolute;
				top: 0px;
			    left: 200px;
			    width: 100px;
			   	height: 20px;
			    line-height: 25px;
			    padding: 0px;
			}
		}
	}
}

// aside组件菜单样式格式化
.el-menu {
	.el-submenu {
		.el-submenu__title {
			height:46px;
			line-height:46px;
			span {
				display:inline-block;
				width:100px;
				overflow:hidden;
				text-overflow:ellipsis;
			}
		}
    &.is-active{
      .el-submenu__title{
        &:before {
          content: "";
          width: 4px;
          height: 46px;
          background-color: #5d9dff;
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }
  }
	.el-menu-item.single-item{
		height:46px;
		line-height:46px;
		span {
			display:inline-block;
			width:100px;
			overflow:hidden;
			text-overflow:ellipsis;
		}
    &.is-active{
      &:before {
          content: "";
          width: 4px;
          height: 46px;
          background-color: #5d9dff;
          position: absolute;
          top: 0;
          left: 0;
        }
    }
	}
}


