/* reset */ 
html,body{height:100%;}
body, h1, h2, h3, h4, h5, h6, p, ul, li, form, button, input, textarea, th, td, table, a, em, span, img, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { margin: 0; padding: 0; } 
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; } 
body { font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif; font-size: 14px; background: #f4f4f4;} 
h1, h2, h3 { font-size: 14px; font-weight: normal; font-style: normal; } 
ul, li, dl, dt, dd { list-style: none; } 
input, select, img, button { vertical-align: middle; border: none; } 
button, input, textarea { border: 1px solid #ddd; background: transparent; -webkit-appearance: none; border-radius: 0;}
input[type=checkbox]{-webkit-appearance:checkbox;}
table { border-spacing: 0; border-collapse: collapse; } 
p { word-wrap: break-word; } 
a { text-decoration: none; } 
a:hover { text-decoration: none; } 
a:visited { color: #551a8b;} 
a[href], input[type="submit"], label[for], select, button, .pointer { cursor: pointer; } 
input, textarea, select { outline: none; } 
.clearfix { zoom: 1; } 
.clearfix:after { display: block; visibility: hidden; clear: both; overflow: hidden; height: 0; content: "."; } 
.floatl { float: left; } 
.floatr { float: right; } 
.textc { text-align: center; }
.textl { text-align: left; }
.textr { text-align: right; }

// 谷歌上下箭头
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
}
// 火狐去掉上下箭头
input[type="number"]{-moz-appearance:textfield;}